
.search
{
  height: 31px;
  width: 37px;
}
.b1 {
  cursor: pointer;
  background-color: transparent;

}
.b2 {
  cursor: pointer;
  background-color: transparent;
  
}
.b3 {
  cursor: pointer;
  background-color: transparent; 
}
.b4 {
  cursor: pointer;
  background-color: transparent;  
}